
.websites-container{

}

.website{
    background: white;
    overflow: auto;
    font-size: 17;
    margin: 5%;
    width: 80%;
    padding: 5%;
}

.website-title{
}

.website-link{
    color: #1a0dab;
    text-decoration: none;
}
.website-description{
    font-size: 15;
    margin-top: 5%;
}