#input-section{
    background: rgba(244,244,245, 0.81);
    font-family: 'Open Sans', serif;
    width: 30%;
    height: 100%;
    z-index:100;
    overflow-y: scroll;
}

.input-header{
    font-size: 17;
    font-weight: 600;
    
    padding:20px;

}
