@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#output-section{
    background: rgba(244,244,245, 0.81);
    font-family: 'Open Sans', serif;
    width: 70%;
    height: 100%;
    z-index:100;
    overflow-y: scroll;
}

.output-header{
    font-size: 17;
    font-weight: 600;
    
    padding:20px;

}
